<script type="text/javascript" src="public/js/homepage.js"></script>


<div class="legendColor">
    <p> Legend: </p>
    <ul class="legend">
        <li><span class="expireToday"></span> Today</li>
        <li><span class="expireTomorrow"></span> Tomorrow</li>
        <li><span class="expireThisWeek"></span> This Week</li>
    </ul>
</div>


{{#if user}}
<!-- render user details -->

<div id="user_profile">
    <p>Name: {{user.profile.name}}</p>
    <p>Email Address: {{user.profile.email}}</p>
    <p>Diet: {{user.profile.diet}}</p>
</div>
{{/if}}

<div class="form-group">
    <button class="btn btn-primary" data-toggle="modal" data-target="#editUserModal">Edit Profile</button>
</div>

<form id="logout-form" action="/logout" method="get">
    <div class="form-group">
        <button type="submit" class="btn btn-logout">Logout</button>
    </div>
</form>


<div class="homeItemInfo">
    <h2>Your Items</h2>
    <a href="/products" class="btn btn-primary">Add a new Item</a>
</div>

<ul class="productList">
    {{#each items}}
    <li>
        <div class="itemContainer" data-expDate="{{date_of_expiration}}">
            <h2>{{nickname}}</h2>
            <div class="show-image">
                <img src="{{product_picture}}" alt="{{product_name}}" />
                <form id="delete-item-{{_id}}" action="/items/{{_id}}" method="get">
                    <button id="itemBut{{_id}}" type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
            <p>UPC: {{upc}}</p>
            <p>Quantity: {{quantity}}</p>
            <p>Purchase Date: {{date_of_purchase}}</p>
            <p>Expiration Date: {{date_of_expiration}}</p>
        </div>
    </li>
    {{/each}}
</ul>

<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="editUserLabel">Edit Profile</h3>
            </div>
            <form id="update-user" action="/users/{{user._id}}" method="post">
             <input type="hidden" name="_method" value="put">

                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" />
                    </div>
                    <div class="form-group">
                        <label for="diet">Diet</label>
                        <input type="text" class="form-control" id="diet" name="diet" />
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close"> Cancel </button>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>