 {{#each this}} {{#if profile}}
<!-- render user details -->

<div id="user_profile">
    <p>Name: {{profile.name}}</p>
    <p>Email Address: {{profile.email}}</p>
    <p>Diet: {{profile.diet}}</p>
</div>
{{/if}} {{/each}}

<form id="logout-form" action="/logout" method="get">
    <div class="form-group">
        <button type="submit" class="btn btn-logout">Logout</button>
    </div>
</form>

<div class="homeItemInfo">
<h2>Your Items</h2>
<a href="/products">Add a new Item</a>
</div>

<ul class="productList">
    {{#each this}} {{#if nickname}}
    <li>
        <div class="itemContainer">
            <h2>{{nickname}}</h2>
            <img src="{{product_picture}}" />
            <p>UPC: {{upc}}</p>
            <p>Quantity: {{quantity}}</p>
            <p>Purchase Date: {{date_of_purchase}}</p>
            <p>Expiration Date: {{date_of_expiration}}</p>
        </div>
    </li>
    {{/if}} {{/each}}
</ul>

