
<ul class="itemList">
    {{#each this}} {{#if nickname}}
    <li>
        <div class="itemContainer">
            <h2>{{nickname}}</h2>
            <img src="{{product_picture}}" />
            <p>Product Name: {{product_name}}</p>
            <p>UPC: {{upc}}</p>
            <p>Quantity: {{quantity}}</p>
            <p>Purchase Date: {{date_of_purchase}}</p>
            <p>Expiration Date: {{date_of_expiration}}</p>
        </div>
    </li>
    {{/if}} {{/each}}
</ul>